@charset "UTF-8";
html {
  box-sizing: border-box;
  font-size: 100%; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: "Outfit", sans-serif;
  background-color: #e5e5e5; }

h1,
h2,
h3 {
  text-wrap: balance; }

.wrapper {
  background-color: #f9f9f9;
  width: 1440px;
  margin: 0 auto; }

/* Navbar */
.navbar {
  align-items: center;
  padding: 20px 0;
  background-color: #fff; }
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 100%;
    margin: 0 auto;
    padding: 0 64px; }
    .navbar .container .nav-links {
      display: flex;
      gap: 77px;
      align-items: center; }
  .navbar ul {
    display: flex;
    padding-right: 5rem; }
    .navbar ul li {
      padding: 0 1rem 0 1rem;
      list-style: none;
      display: block;
      border-right: 1px #000 solid; }
    .navbar ul li:last-child {
      border-right: 0; }
      .navbar ul li:last-child::after {
        font-family: FontAwesome;
        content: "\f107";
        padding-left: 4px; }
    .navbar ul li a {
      text-decoration: none;
      color: #000; }
      .navbar ul li a:hover {
        color: #3a6150; }

.navbar ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: none;
  background: #fff; }

.navbar ul li:hover > ul,
.navbar ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  max-width: 15px;
  text-align: center;
  margin-left: 30px;
  padding-top: 20px;
  box-shadow: 0px 3px 5px -1px #ccc; }

.navbar ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none; }
  .navbar ul li ul li:last-child::after {
    content: ""; }
  .navbar ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid #3a6150;
    transition: all 0.3s ease; }

.navbar .search-container {
  float: right; }
  .navbar .search-container input {
    width: 376px;
    height: 48px;
    font-size: 18px;
    border-color: #3a6150;
    font-family: "Outfit", sans-serif;
    padding-left: 16px; }
    .navbar .search-container input::placeholder {
      color: #3a6150; }

.navbar .search-container__button {
  float: right;
  padding: 14px 14px;
  margin-top: 0;
  background: #3a6150;
  font-size: 17px;
  border: none;
  cursor: pointer; }
  .navbar .search-container__button .fa-search {
    color: #fff;
    font-size: 18px; }

/* Hero  */
.hero {
  padding: 24px 64px 60px 64px;
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9; }
  .hero .hero-content {
    margin-top: 186px; }
    .hero .hero-content h1 {
      font-size: 35px;
      margin-bottom: 30px;
      color: #3a6150; }
    .hero .hero-content h3 {
      margin-bottom: 10px;
      color: #3a6150; }
    .hero .hero-content p {
      margin-right: 111px;
      max-width: 58ch; }

.hero-button {
  background-color: #3a6150;
  color: #fff;
  width: 196px;
  height: 46px;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 30px; }
  .hero-button:hover {
    background-color: #276a3b; }

/* About us */
.about {
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
  padding: 80px 64px;
  gap: 18px; }
  .about .about-container {
    background-color: #3a6150;
    color: #fff;
    padding: 20px;
    width: 50%;
    display: flex;
    gap: 18px; }
  .about .about-img {
    width: 180px;
    height: 230px; }

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .about-text a {
    color: #fff; }
  .about-text ::after {
    content: " →";
    text-decoration: none; }

/* Contact Us*/
.contact-main {
  display: flex;
  justify-content: space-around;
  background-color: #71837b;
  padding: 64px 0; }
  .contact-main h1 {
    font-size: 40px;
    padding-bottom: 0; }
  .contact-main .contact-container {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    width: 1312px; }
  .contact-main .contact-form {
    display: inline-block;
    background-color: #fff;
    padding: 30px 10px;
    border-radius: 10px; }
  .contact-main .container__image-container {
    display: flex;
    flex-direction: column;
    background-image: url("../img/Rectangle 573.svg");
    height: 637px;
    min-width: 425px;
    border-radius: 10px; }
    .contact-main .container__image-container h1 {
      margin: 42px 42px 0 42px; }
    .contact-main .container__image-container p {
      margin: 16px 42px 56px 42px;
      font-size: 14px;
      vertical-align: bottom; }

.address_icon-vertic {
  display: grid;
  grid-template-columns: auto;
  justify-content: start;
  grid-gap: 19px;
  margin-left: 42px;
  font-style: normal;
  font-size: 14px; }
  .address_icon-vertic .fb-icon-text {
    grid-column-start: 2;
    margin-top: 2px; }

.address_icon-horizon {
  display: flex;
  gap: 36px;
  margin: 233px 0 0 42px; }

/* Contact Us right sector / upper */
.contact-form {
  margin: 10px 0 0 0; }
  .contact-form .contact-form__upper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .contact-form .contact-details__input {
    width: 416px;
    height: 42px;
    font-size: 14px;
    margin: 10px 0;
    padding-left: 10px; }
  .contact-form .contact-form__upper-right .phonenum {
    margin: 10px 0 30px 0; }
    .contact-form .contact-form__upper-right .phonenum input {
      width: 416px;
      height: 42px;
      padding-left: 50px;
      font-size: 14px;
      font-family: "Outfit", sans-serif; }
  .contact-form .contact-form__upper-left {
    padding: 0 15px 0 10px; }
  .contact-form .required-field::after {
    content: "*";
    color: #ff0000;
    margin-right: 2px; }

.contact-form__upper-left input,
.contact-form__upper-right input {
  margin: 10px 0 30px 0; }

/* Contact Us right sector / lower */
.contact-form .contact-form-lower {
  display: grid;
  grid-template-rows: repeat(2, 1fr); }
  .contact-form .contact-form-lower .contact-form__radioboxes {
    display: flex;
    cursor: pointer;
    accent-color: #3a6150; }
    .contact-form .contact-form-lower .contact-form__radioboxes input {
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin: 0 10px 0 20px; }

.contact-form__radioboxes .radio-custom,
.contact-form__radioboxes .radio-custom-label {
  vertical-align: middle; }

.contact-form__radioboxes .radio-custom-label {
  font-family: "Outfit", sans-serif;
  font-size: 14px; }

.contact-form-lower .contact-form__message {
  margin: 15px 10px 0 10px; }

.contact-form-lower .contact-form__message-input {
  font-family: "Outfit", sans-serif;
  height: 132px;
  padding: 0 0 90px 5px;
  margin: 10px 8px 30px; }

.contact-form-lower .contact-form__checkboxes {
  display: flex;
  margin-left: 18px; }
  .contact-form-lower .contact-form__checkboxes input {
    width: 18px;
    height: 18px;
    accent-color: #3a6150; }
  .contact-form-lower .contact-form__checkboxes label {
    font-family: "Outfit", sans-serif;
    margin: 0 48px 0 19px;
    font-size: 14px;
    align-items: flex-start; }
  .contact-form-lower .contact-form__checkboxes .contact__button {
    background-color: #3a6150;
    color: #fff;
    width: 196px;
    height: 46px;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    margin: 60px 0 0 250px; }
    .contact-form-lower .contact-form__checkboxes .contact__button:hover {
      background-color: #276a3b; }

/* Footer */
.footer__section {
  display: flex;
  justify-content: space-between;
  padding: 30px 64px;
  background-color: #f9f9f9; }
  .footer__section address .payment-methods {
    display: flex;
    flex-grow: 2; }
  .footer__section address .payment-methods img {
    margin-right: 36px; }
  .footer__section .footer__left-section {
    width: 50%; }
    .footer__section .footer__left-section .brand-name {
      font-weight: 700;
      font-size: 48px;
      margin-bottom: 20px; }
    .footer__section .footer__left-section .footer__input {
      width: 295px;
      padding: 12px 5px;
      margin-right: 15px;
      font-size: 15px;
      border: 0;
      outline: 0;
      border-bottom: 2px solid #a2a2a2;
      background-color: #f9f9f9; }
  .footer__section .footer__input:focus {
    border: transparent; }
  .footer__section .footer__button {
    background-color: #3a6150;
    color: #fff;
    width: 196px;
    height: 46px;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 30px; }
    .footer__section .footer__button:hover {
      background-color: #276a3b; }

.footer__right-section {
  display: flex;
  justify-content: space-between;
  gap: 244px; }
  .footer__right-section ul {
    list-style: none; }
  .footer__right-section li {
    font-size: 18px;
    margin-bottom: 16px; }
  .footer__right-section address {
    font-style: normal;
    font-size: 18px; }
  .footer__right-section address p {
    margin-bottom: 8px; }
  .footer__right-section address img {
    margin-top: 25px; }

.footer__right-section address .contact-number,
.footer__right-section address .contact-email {
  color: #00000099; }

.footer-divider {
  background-color: #eee;
  border: 0 none;
  color: #eee;
  height: 1px; }

.second-footer {
  padding: 24px 0; }
  .second-footer ul {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #9b9b9b;
    list-style-type: none; }
  .second-footer ul .allrights {
    align-items: center;
    padding-left: 610px;
    align-self: center;
    color: #000;
    width: 70%; }
  .second-footer .miscellaneous {
    font-size: 14px;
    color: #9b9b9b;
    gap: 15px;
    margin-right: 64px; }
