@import "colors";

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: $primary-color;
}

$main-font: "Outfit", sans-serif;
