// partials
@import "components/base/reset";
@import "components/base/button";
@import "components/base/colors";

// code
.wrapper {
  background-color: $background-color;
  width: 1440px;
  margin: 0 auto;
}

/* Navbar */
@import "components/layout/navbar";
/* Hero  */
@import "components/layout/hero";
/* About us */
@import "components/layout/about-us";
/* Contact Us*/
@import "components/layout/contact-us";
/* Footer */
@import "components/layout/footer";
