// partials
@import "base/reset";
@import "base/button";
@import "base/colors";

// code
.wrapper {
  background-color: $background-color;
  width: 1440px;
  margin: 0 auto;
}

/* Navbar */
@import "layout/navbar";
/* Hero  */
@import "layout/hero";
/* About us */
@import "layout/about-us";
/* Contact Us*/
@import "layout/contact-us";
/* Footer */
@import "layout/footer";
