.hero {
  padding: 24px 64px 60px 64px;
  display: flex;
  justify-content: space-between;
  background-color: $background-color;
  &__main-content {
    margin-top: 186px;
    h1 {
      font-size: 35px;
      margin-bottom: 30px;
      color: $secondary-color;
    }
    h3 {
      margin-bottom: 10px;
      color: $secondary-color;
    }
    p {
      margin-right: 111px;
      max-width: 58ch;
    }
  }
  &__button {
    @include button;
    margin-top: 30px;
  }
}
