.about {
  display: flex;
  justify-content: flex-start;
  background-color: $white-color;
  padding: 80px 64px;
  gap: 18px;
  &__container {
    display: flex;
    background-color: $secondary-color;
    color: $white-color;
    padding: 20px;
    width: 50%;
    gap: 18px;
  }
  &__about-img {
    width: 180px;
    height: 230px;
  }
  &__about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a {
      color: $white-color;
    }
    ::after {
      content: " →";
      text-decoration: none;
    }
  }
}
