.about {
  display: flex;
  justify-content: flex-start;
  background-color: $white-color;
  padding: 80px 64px;
  gap: 18px;
  .about-container {
    background-color: $secondary-color;
    color: $white-color;
    padding: 20px;
    width: 50%;
    display: flex;
    gap: 18px;
  }
  .about-img {
    width: 180px;
    height: 230px;
  }
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  a {
    color: $white-color;
  }
  ::after {
    content: " →";
    text-decoration: none;
  }
}
