.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 64px;
  background-color: $background-color;
  &__left-section {
    width: 50%;
    .brand-name {
      font-weight: 700;
      font-size: 48px;
      margin-bottom: 20px;
    }
    .footer__input {
      width: 295px;
      padding: 12px 5px;
      margin-right: 15px;
      font-size: 15px;
      border: 0;
      outline: 0;
      border-bottom: 2px solid #a2a2a2;
      background-color: $background-color;
    }
  }
  &__input:focus {
    border: transparent;
  }
  &__button {
    @include button;
    margin-top: 30px;
  }
  &__right-section {
    display: flex;
    justify-content: space-between;
    gap: 244px;
    ul {
      list-style: none;
    }
    li {
      font-size: 18px;
      margin-bottom: 16px;
    }
    address {
      font-style: normal;
      font-size: 18px;
    }
    address p {
      margin-bottom: 8px;
    }
    address img {
      margin-top: 25px;
    }
  }
  &__right-section address .footer__contact-number,
  &__right-section address .footer__contact-email {
    color: $dark-color;
  }
  &__payment-methods {
    display: flex;
    flex-grow: 2;
    img {
      margin-right: 36px;
    }
  }
  &__divider {
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 1px;
  }
  &__bottom-section {
    padding: 24px 0;
    ul {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      color: $grey-color;
      list-style-type: none;
    }
    ul .allrights {
      align-items: center;
      padding-left: 610px;
      align-self: center;
      color: $black-color;
      width: 70%;
    }
    .miscellaneous {
      font-size: 14px;
      color: $grey-color;
      gap: 15px;
      margin-right: 64px;
    }
  }
}
