$primary-color: #e5e5e5;
$secondary-color: #3a6150;
$background-color: #f9f9f9;
$white-color: #fff;
$dark-color: #00000099;
$black-color: #000;
$grey-color: #9b9b9b;
$red-color: #ff0000;
$dark-grey: #71837b;
