@import "colors";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: $primary-color;
  box-sizing: border-box;
}

$main-font: "Outfit", sans-serif;
